<div class="row">
 <div class="col-lg-12">
   <div class="page-header">
   </div>
   <div class="bs-component">
     <div class="jumbotron">
       <h1>Soveltuvuus</h1>
       <p>Soveltuvuutesi eri ammattialoille.
       </p>


     </div>
   </div>
 </div>
</div>
<div class="row">
 <div class="col-lg-12">
       <div class="jumbotron">
               <p>Sait {{score}} pistettä, nyt töihin!
         </p>


         <p><a href="/" class="btn btn-primary btn-lg">Eteenpäin</a></p>
     </div>
   </div>
 </div>
