<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" media="screen" charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
    {{{body}}}
  </div>


<div class="footer row">
  <ul class="nav navbar-nav navbar-left">
    <li class="active"><a href="#" class="list-group-item active">
      Käytetyt Tekniikat
    </a>
  </li>
    <li><a href="http://expressjs.com/en/starter/generator.html" class="list-group-item">Express frameworkki Handlebars template enginellä
    </a>
  </li>
  <li>
    <a href="  https://bootswatch.com/superhero/" class="list-group-item">Superhero Bootstrap Teema
    </a>
  </li>
</ul>
  <ul class="nav navbar-nav navbar-right">
  <li class="disabled"><a href="#">2017</a></li>
</ul>
</div>
<script src="/javascripts/jquery-3.1.1.js" charset="utf-8"></script>
<script src="/javascripts/bootstrap.js" charset="utf-8"></script>

  </body>






</html>
